{% include header.snippet %}

    <a href="https://github.com/barretlee/barretlee.github.io" style="position: absolute; top: 0; right: 0; border: 0; z-index:99;"  target="_blank"><img src="/images/forkme.png" alt="Fork me on GitHub"></a>
    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">BarretLee</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        <div class="home-contact">
            <a href="http://www.facebook.com/barret.china" target="_blank" style="margin-left:-5px;"><img src="http://barretlee.github.io/images/facebook-32.png" alt="facebook" width="32"/></a>
            <a href="mailto:barret.china@gmail.com" target="_blank" style="text-align:right"><img src="http://barretlee.github.io/images/gmail-32.png" alt="send mail to barret" width="32"/></a>
            <a href="http://weibo.com/hustskyking/" target="_blank" style="text-align:right;margin-left:10px"><img src="http://www.weibo.com/favicon.ico" alt="sina weibo" width="32"></a>
        </div>
    </div>

    {{ content }}

 
{% include footer.snippet %}