---
layout: page
---
<link rel="stylesheet" href="/js/prettify/prettify{% if site.highlight %}-{{ site.highlight }}{% endif %}.css" />

<div class="entry">
    <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }} by {{ site.author_name }}</p>

    {{ content }}

    {% include statement.snippet %}
</div>

<script src="/js/post.js" type="text/javascript"></script>

{% include duoshuo.snippet %}